# Ignore everything in the android directory
/android/*

# Exclude specific files from being ignored
!.gitignore
!build.gradle.kts
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle.kts

# Exclude specific directories from being ignored
!android/app/
!android/.idea/
!android/gradle/
!android/README.md




# Server side
# Ignore VSCode folder
.vscode/




# The rest of the original .gitignore. Maybe you should remove this, I don't know.

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
